.App {
  background-color: #2e2c2b;
}
.logoPosition {
  margin-left: 30px;
}

.scoreTextColor {
  color: white;
  position: absolute;
  top: 10px;
  right: 90px;
}

.audio {
  position: relative;
  top: 20px;
}

.flex {
  display: flex;
}

.currentBirdBlock {
  width: calc(100% - 400px);
}

.header {
  height: 40px;
}

.answerItemCircle {
  width: 10px;
  height: 10px;
  background-color: #8d8c8c;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
}

.rightAnswerItem {
  background-color: #6bb18e;
}

.wrongAnswerItem {
  background-color: darkred;
}

.answerItem {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 50px;
  width: 600px;
  color: white;
  background-color: #4c4c4c;
  border: #8d8c8c 1px solid;
}

.headerActiveColor {
  background-color: #6bb18e;
}

.nextLevelBtn {
  color: white;
  width: 100%;
  height: 50px;
}

.nextLevelBtnDefault {
  background-color: #4c4c4c;
}

.marginTop {
  margin-top: 40px;
}

.headerNotActiveColor {
  background-color: #3d8661;
}

.currentBird {
  padding: 15px;
  height: 300px;
  width: 300px;
  border-radius: 30px;
}

.currentBirdName {
  font-size: 30px;
  border-bottom: #8d8c8c 1px solid;
  color: white;
}

.currentQuestion {
  background-color: #4c4c4c;
}

.questionListItem {
  align-items: center;
  height: 30px;
  color: white;
  display: inline-flex;
  width: 305px;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
